.overallPage{
    /* border: 1px solid black; */
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
}

.navBarContent {
    padding: 10px;
}

.navBarContent a {
    margin: 10px;
}

.logoName {
    padding: 10px;
}

#logo{
    width: 100px;
    height: 100px;
}

.featPhotoContents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: 1px solid black;
}

#featPhoto{
    width: 800px;
    height: 800px;
}

.prevProj{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 10px;
    padding: 10px;
}

.prevProjPhotos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.prevProjPhotosContent{
    margin: 10px;
    height: 300px;
    width: 300px;
}

.aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.skills{
    margin: 20px;
}
.autobio{
    margin: 20px;
}



